* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(21, 21, 21);
    color: white;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
}

header {
    border-bottom:#363636 1px solid;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

footer {
    border-top:#363636 1px solid;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

h1 {
    padding-left: 4em;
    margin: 0;
    margin-top: 0.7em;
    margin-bottom: 0.8em;
    font-weight: normal;
}

separator {
    height: 85%;
    width: 0.1em;
    background-color: #363636;

    align-self: center;
}

form {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

/* Top */
#file_settings_container {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

/* Step 1 Top Left */
#h5ad_container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    margin-left: 3em;
    margin-top: 1em;
}

#shadow {
    width: 60%;
    height: 40%;
    margin-top: 4em;
    align-self: center;
    display: flex;
    background-color: rgb(48, 47, 47);
    border-radius: 1em;
    justify-content: center;
}

#shadow:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}

#h5ad_label {
    width: 85%;
    height: 70%;

    align-self: center;
    border-radius: 0.5em;
    border: 2px dashed #bbb5b5;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.h5ad_label_text {
    margin: 0;
    padding: 0;
}

#selected_file {
    font-size: 0.8em;
    color: rgb(172, 169, 169);
}

#h5ad_input {
    display: none;
}

/* Step 2 Top Right */
#step2_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#upload_settings {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(48, 47, 47);
    border-radius: 1em;
    align-self: center;
    margin-top: 4em;
    padding: 1em;
    padding-left: 2em;
}

.celltype_hidden, .colors_hidden, .raw_gene_hidden, .selected_colors_hidden {
    display: none;
}

#celltype_options {
    display: flex;
    flex-direction: column;
}

/* Class added to make celltype_labels and raw_gene_counts options show */
.show {
    display: inline;
}

/* Step 2 Styling */
#celltype_label_text {
    margin-left: 3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#color_options {
    display: flex;
    flex-direction: column;
}

#color_options label {
    margin-left: 2.5em;
}

#raw_gene_counts_text {
    margin-left: 3em;
    margin-top: 0.3em;
}

/* https://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.8em;
    height: 1.8em;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type="checkbox"]:checked {
    background-color: rgba(238, 238, 238, 0.8);
    border-color: rgb(100, 100, 100);
}


input[type="text"], input[type="email"], input[type="name"] {
    padding: 0.5em;
    width: 70%;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.8em;
    height: 1.8em;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50px; 
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    bottom: 1px; 
}

input[type="radio"]:checked {
    background-color: rgba(238, 238, 238, 0.8);
    border-color: rgb(100, 100, 100);
}

/* https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
#colors_JSON::file-selector-button {
    padding: .4em .6em;
    border-radius: 4px;
    border: none;
    background-color: rgba(238, 238, 238, 0.8);
}

#colors_JSON::file-selector-button:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.8);
}

















/* Bottom Left Details Container */
#submission_container {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#details_container {
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#submit_button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email, #name, #dataset_name {
    width: 50%;
}

#submit {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */